body {
  background-color: #FF6666;
}

.App {
  background-color: #20ACFD;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input {
  background-color: #F2F685;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 16px;
  border-radius: 10px;
  color: #000000;
}

#to-do-form input::placeholder {
  color: #3C3C36; 
}

#to-do-form input::focus, #to-do-form button:focus {
  outline: none; 
}

#to-do-form button {
  height: 45px;
  width: 75px;
  border-radius: 5px;
  border: 0;
  background-color: #FF8900;
  cursor: pointer;
  font-weight: bolder;
  color: #000000;
}


